<button class="m-aside-left-close  m-aside-left-close--skin-light " id="m_aside_left_close_btn">
    <i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-light ">
    <!-- BEGIN: Brand -->
    <div class="m-brand  m-brand--skin-light ">
        <a href="/" class="m-brand__logo">
            <img alt="" src="/assets/demo/media/img/logo/LogoAmoeba.png" />
        </a>
    </div>
    <!-- END: Brand -->

</div>
<div class="m-aside-menu-overlay"></div>